html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}
img {
    max-width: 100%;
    max-height: 100%;
}
#grid {
    display: grid;
}
#grid > div {
    position: relative;
    display: block;
    border: 1px solid black;
    background-color: #fff;
    color: #fff;
    text-align: center;
    left: 0;
    top: 76px;
    float: left;
}
#notGrid {
    position: absolute;
    padding-left: 6px;
    left: 30%;
    top: 76px;
    float: left;
}
#aboutInfo {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}
#aboutInfo>p>a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: tomato;
}
#blacktint {
    transition: top 0.3s ease;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
}
.modal {
    position: absolute;
    width: 30%;
    height: 30%;
    left: 35%;
    top: 135%;
    border: 10px solid skyblue;
    outline: 10px solid tomato;
    margin: auto;
    vertical-align: center;
    z-index: 99;
    background-color: #fff;
    transition: top 0.3s ease;
}