#grid {
    display: grid;
}
#grid > div {
    border: 1px solid black;
    background-color: #666;
    color: #fff;
    text-align: center;
}
#aboutInfo {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}
#aboutInfo>p>a {
    color: #000;
    text-decoration: none;
}